:root {
    --paste-light-green: #A9DFBF;
    --light-green-shade: #6DBE45;
    --vibrant-light-green: #8DC63F;

    --pure-white: #FFFFFF;
    --white-shade: #F5F5F5;
    --cool-white: #ECF0F1;

    --dark-green-deep: #2E6E3E;
    --dark-green-forest: #00441B;
    --dark-green-muted: #1F3A2D;

    --classic-dark-grey: #333333;
    --medium-grey: #666666;
    --warm-light-grey: #BDBDBD;

    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.image-container {
    width: 40%;
    height: 100%;
    bottom: #eee;
    background-color: var(--warm-light-grey);

}

#image {
    margin-top: 20px;
}

.image-container > p {
    font-weight: bold;
}

#title {
    font-size: 22px;
    padding-left: 16px;
    color: var(--dark-green-forest);
}

#sentence {
    position: sticky;
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
    color: var(--dark-green-deep)
}

.form-container {
    width: 60%;
    background-color: var(--classic-dark-grey);
}

#starter {
    text-align: center;
    padding-top: 10%;
    font-size: 28px;
    color: var(--light-green-shade)
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

